---
layout: default
footer_type: consult
title: Incodeks - Services
permalink: /services/
---

<div id="services" class="w-100">

    <header class="masthead" style="background-image: url('{{ site.baseurl }}/assets/team_images/9X8A2121.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 services-header position-relative">
                    <p class="services-p1">Building a better future at scale.</p>
                    <a class="btn btn-link go_to_provide" role="button" onclick="animateScrollAnchor($('.go_to_provide'), $('#to_provide'))">
                      <i class="fa fa-long-arrow-down fa-2x" style="color: var(--light);"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

        <section class="section bg-white" id="to_provide">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
                        <p class="text-left provide-p1">Web app development</p>
                        <p class="text-left provide-p2">We provide:</p>
                        <p class="text-left provide-p3">Frontend development<br>Backend development<br>
                          Cloud-based / Enterprise / SaaS<br>
                          Progressive Web Apps (PWA)<br>
                          AI / IoT / Big data / Machine learning<br>
                          Continuous Delivery &amp; Integration</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
                        <p class="text-left provide-p1">Mobile app development<br></p>
                        <p class="text-left provide-p2"><strong>We provide:</strong><br></p>
                        <p class="text-left provide-p3">Cross platform app development<br>
                          Native app development<br>
                          React Native development<br>
                          Flutter development<br>
                          Android &amp; iOS app development<br>
                          Custom mobile UX/UI design</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
                        <p class="text-left provide-p1">Product design</p>
                        <p class="text-left provide-p2">We provide:</p>
                        <p class="text-left provide-p3">Product design workshops<br>
                          Scoping session<br>
                          UX audits<br>
                          Usability testing<br>
                          Lo-Fi &amp; Hi-Fi prototyping<br>
                          Web &amp; Mobile app design</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
                        <p class="text-left provide-p1">Software development consulting</p>
                        <p class="text-left provide-p2">We provide:</p>
                        <p class="text-left provide-p3">
                          Tech stack recommendation<br>Software audit<br>
                          Product scale up<br>Project takeover<br>
                          Lean startup<br>Digital transformation</p>
                    </div>
              </div>
            </div>

        </section>

        <section class="section bg-white" style="padding: 50px 0 !important;">
            <div class="container">
    
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 50px;">
                        <p class="text-center services_clients_title">Our clients keep saying some<br>super nice stuff.</p>
                    </div>
                </div>
    
                <div class="row text-center first-service-row">
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 first-service-col">
                        <img src="{{ site.baseurl }}/assets/img/testimonials/ravi_kurani.jpg">
                          <p class="text-left service-p1 mb-3">
                            "We have been working with Incodeks for the last 3 years. It was a great decision to work with them and we are very pleased with the results so far. The team is professional, easy to work with and flexible. They have done an excellent job in building our platform from scratch and we are very happy with it."
                          </p>
                          <p class="text-left d-inline service-p2">
                            Ravi Kurani, MySutro
                          </p>
                      </div>
    
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 second-service-col">
                        <img src="{{ site.baseurl }}/assets/img/testimonials/steven.jpg">
                          <p class="text-left service-p1 mb-3" >
                            "Incodeks is a pleasure to work with.
                            From beginning to end they go above and beyond to see your vision through and make important and priceless contributions to your project.
                            They suggest things you may have never thought about and show you how certain features will allow you to scale and grow naturally over time.
                            The team will not stop until the project is completed to your 100% satisfaction.
                            We value Incodeks as a crucial extension of our company and would highly recommend them to anyone looking for a great development team who will put you first!"
                            <br>
                          </p>
                          <p class="text-left d-inline  service-p2">
                            Steven Stanimirovic, VQ Fluux
                          </p>
                      </div>
    
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 third-service-col">
                        <img src="{{ site.baseurl }}/assets/img/testimonials/zack.png">
                          <p class="text-left service-p1 mb-3">
                            "Working with Incodeks has been everything House Rewards needed when we were looking for a partner to build out our platform. The team at Incodeks is incredibly talented, hard-working, and very responsive at all times. Highly recommend it! 
                            Faster turnaround times, faster user experience."</p>
                          <p class="text-left d-inline  service-p2">
                            Zack Arenson, House Rewards
                          </p>
                      </div>
                    </div>
            </div>
        </section>

        <section id="provide" class="section">
           <div class="pt-3 pb-3" style="background: #f9f9f9;">
            <div class="container">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="background: #f9f9f9;">
                        <p class="font-weight-bold" style="font-size: 40px;">What you get working with us:</p>
                    </div>
                </div>
                <div class="row second-service-row mt-5 pt-3">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 pb-5">
                        <p class="title">Project management</p>
                        <p style="font-size: 14px; font-weight: 100">
                            At Incodeks our environment is more Agile oriented than ever. Those seeking to deliver more value and fast prototype, we have the ability and professionalism for that. We have a team of Project Managers and engineers that will guide you through the entire process for building your product. We will carry out our knowledge transfer process to hand over the reins to your dedicated team.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 pb-5">
                        <p class="title">Quality assurance<br></p>
                        <p style="font-size: 14px; font-weight: 100">We deliver QA services for our client
                          and we want to make sure that we
                          deliver quality to them, also help
                          evaluate the product’s compliance with
                          the original requirements and give you
                          valuable insights into end user
                          impressions of the product. Incodeks
                          thinks about your users and exactly how
                          they'll interact with your application.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 pb-5">
                        <p class="title">Support and maintenance<br></p>
                        <p style="font-size: 14px; font-weight: 100">Beside the development process that we
                          do, we care about the life of products.
                          You can rely on us to help you scale as
                          your grow you user base. The reality on
                          now days is that software projects have
                          infinite life, they grow day by day. New
                          operating systems come out, and
                          platforms grow. Even the best of the
                          best software products require ongoing
                          attention, monitoring, evolution, and
                          improvements. We offer support for all
                          of our projects post-launch.&nbsp;</p>
                    </div>
                    <!-- <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pb-5">
                        <p class="title">DevOps</p>
                        <p style="font-size: 14px; font-weight: 100">
                          We design and build the agile, resilient
                          systems that will keep your business
                          upto dated.DevOps.. What does it mean?
                          DevOps refers to the team behind the
                          design, development, launch, and
                          maintenance of your software.
                          The cloud solutions that make business
                          environment more flexible, scalable, and
                          connected. we leverage our expertise in
                          application development and implement
                          >DevOps process that help process to
                          automate and optimise operations.</p>
                    </div> -->
                </div>
           </div>
            </div>
        </section>
        <section id="technologies" class="section pt-5">
            <div class="container">
                  <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                          <h2 class="section-heading mb-5" style="font-size: 30px;">Technologies <span style="color: #5C46F9;">we use</span></h2>
                      </div>
                  </div>
                  <div class="row technologies-second-row">

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/python.html %}
                            <p class="mt-3">PYTHON</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/nodejs.html %}
                            <p class="mt-3">NODEJS</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/php.html %}
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/laravel.html %}
                            <p class="mt-3">LARAVEL</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/html.svg %}
                            <p class="mt-3">HTML</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/javascript.svg %}
                            <p class="mt-3">JAVASCRIPT</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/css.svg %}
                            <p class="mt-3">CSS</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/react.svg %}
                            <p class="mt-3">REACTJS</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/bootstrap.svg %}
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/mongodb.svg %}
                            <p class="mt-3">MONGODB</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/dart.svg %}
                            <p class="mt-3">DART</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/django.svg %}
                            <p class="mt-3">DJANGO</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/flask.svg %}
                            <p class="mt-3">FLASK</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/ibm.svg %}
                            <p class="mt-3">IBM</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/microsoft-sql-server.svg %}
                            <p class="mt-3 text-center">Microsoft SQL Server</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/azure.svg %}
                            <p class="mt-3 text-center">Azure</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/postgresql.svg %}
                            <p class="mt-3 text-center">POSTGRESQL</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            {% include_relative {{ site.baseurl }}/assets/svg/techs/react.svg %}
                            <p class="mt-3">React Native</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 portfolio-item">
                            <img src="{{ site.baseurl }}/assets/svg/techs/october.png" width="80px" height="80px">
                            <p class="mt-3 text-center">OCTOBER</p>
                        </div>


                  </div>
            </div>
        </section>
      
    </div>
 