<section id="footer" style="background: #000000;padding-top: 0px;padding-bottom: 0px;">
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right float-sm-right col-12"
            style="background: linear-gradient(2deg, rgb(92,70,249) 0%, black 85%);padding-right: 0px;padding-left: 0px;height: 300px;margin-bottom: 0px;filter: blur(0px) contrast(100%) saturate(100%);opacity: 1;">
                <p class="text-right" style="font-weight: bold;color: white;font-size: 50px;margin-bottom: 70px;height: 180px;"><strong>
                  Let's get in</strong><br><strong>touch.</strong>
                </p>
                <ul class="list-inline text-left" style="font-size: 12px;margin-bottom: 0px;width: auto;height: auto;border-top: 1px solid #848484;padding-top: 15px;">
                  <li class="list-inline-item"><a href="{{ site.baseurl }}/about/">About us</a></li>
                  <li class="list-inline-item"><a href="{{ site.baseurl }}/services/">Services</a></li>
                  <li class="list-inline-item"><a href="{{ site.baseurl }}/careers/">Careers</a></li>
                  <li class="list-inline-item"><a href="{{ site.baseurl }}/insights/">Insights</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center col-12" style="padding-right: 0px;height: 300px;padding-left: 0px;">
                <p class="text-center" style="font-size: 15px;color: white;font-weight: 300;margin-bottom: 70px;padding-top: 100px;height: 180px;border-top-style: none;">
                  GET AN ESTIMATE OF&nbsp;<br>
                  YOUR PROJECT
                </p>
                <div style="border-top: 1px solid #848484;padding-top: 5px;height: 50px;">
                    <p class="text-left d-inline float-left">
                      <a href="#" style="font-weight: 300;color: white;font-size: 12px;margin-top: 15px;">BACK TO TOP</a>
                    </p>
                    <ul class="list-inline d-inline float-right" style="font-size: 14px; padding-top: 5px; margin-bottom: 0px; margin-right:20px;">
                        <li class="list-inline-item footer-b"><a href="#">FACEBOOK</a></li>
                        <li class="list-inline-item footer-b"><a href="#">INSTAGRAM</a></li>
                        <li class="list-inline-item footer-b"><a href="#">LINKEDIN</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include svg-icons.html %}
    </section>