  <section class="footer">
    <div class="row" style="margin-right: 0px;margin-left: 0px;" >
                <div class="col-md-12">
                    <h1 style="color:white">Office locations:</h1>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                    <img src="{{ site.baseurl }}/assets/img/ferizaj.jpg" class="w-100 place_career" alt="">
                    <h5 class="text-center mt-3">Ferizaj</h5>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                    <img src="{{ site.baseurl }}/assets/img/prishtina.jpeg" class="w-100 place_career" alt="">
                    <h5 class="text-center mt-3">Prishtinë</h5>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                    <img src="{{ site.baseurl }}/assets/img/san_francisco.jpeg" class="w-100 place_career" alt="">
                    <h5 class="text-center mt-3">San Francisco</h5>
                </div>
      </div>
      <div class="row" style="margin-right: 0px;margin-left: 0px;" >
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 text-right float-sm-right col-4"><img src="{{ site.baseurl }}/assets/img/inc_logo.svg" >
              <p class="float-right llc">&nbsp; &nbsp; &nbsp; InCodeks©2021&nbsp;</p>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center col-8">
              <p class="text-center title-footer">Have a project in mind?<br>
                Let's work together.</p>
            <button class="btn btn-info buttons" type="button" style="border-style: none;background: #5C46F9;border-radius: 0px;">Contact us</button>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-2"></div>
      </div>
      <div class="row bottom-footer">
          <div class="col-3 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-12"></div>
          <div class="col-6 col-sm-12 col-md-7 col-lg-7 col-xl-7 text-center col-4 second-col-footer">
              <ul class="list-inline text-center list-footer"> 
                  <li class="list-inline-item"><a href="{{ site.baseurl }}/about/">About us</a></li>
                  <li class="list-inline-item"><a href="{{ site.baseurl }}/services/">Services</a></li>
                  <li class="list-inline-item"><a href="{{ site.baseurl }}/careers/">Careers</a></li>
                  <li class="list-inline-item"><a href="{{ site.baseurl }}/insights/">Insights</a></li>
              </ul>
          </div>
          <div class="col-3 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center col-4 third-col-footer" >
              <ul class="list-inline text-center second-list-footer">
                  <li class="list-inline-item"><a href="#">Instagram</a></li>
                  <li class="list-inline-item"><a href="#">Facebook</a></li>
                  <li class="list-inline-item"><a href="#">Linkedin</a></li>
              </ul>
          </div>
      </div>
  </section> 