<nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar navbar-transparent navbar-expand-lg fixed-top bg-transparent" id="mainNav">
    <div class="container-fluid {% if $page.title == 'Incodeks - Estimate' %} nav_with_black_color {% endif %}">
      <a class="navbar-brand" href="{{ site.baseurl }}/index">
      <img src="{{ site.baseurl }}/assets/img/inc_logo.svg" style="width: 60px;">
    </a>
      <button class="navbar-toggler navbar-toggler-right bg-transparent" id="menu_burger">
        <i class="fa fa-bars  fa-2x"></i>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-uppercase">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/about">About us</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/services">Services</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/insights">insights</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/careers">careers</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item  estimate-button"><a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/estimate" >get an estimate</a></li>
            </ul>
        </div>
    </div>
</nav>
